<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<div class="col-8 mx-auto">
    <table class="table caption-top">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Titlu</th>
                <th scope="col">Autor</th>
                <th scope="col">Editura</th>
                <th scope="col">Publicare</th>
                <th scope="col">Pret</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book:${books}">
                <th scope="row" th:text="${book.Id}"></th>
                <td th:text="${book.Title}"></td>
                <td th:text="${book.Author}"></td>
                <td th:text="${book.Edit}"></td>
                <td th:text="${{book.dateOfPublication}}"></td>
                <td th:text="${{book.price}}"></td>
            </tr>
        </tbody>
    </table>


        <form th:object="${book}" method="post">

            <div class="mb-3">
                <label for="title" class="form-label">Titlu</label>
                <input type="text" class="form-control" id="title" th:field="*{title}"/>
            </div>

            <div class="mb-3">
                <label for="author" class="form-label">Autor</label>
                <input type="text" class="form-control" id="author" th:field="*{author}"/>
            </div>


            <div class="mb-3">
                <label for="edit" class="form-label">Editura</label>
                <input type="text" class="form-control" id="edit" th:field="*{edit}"/>
            </div>


            <div class="mb-3">
                <label for="dop" class="form-label">Data publicare</label>
                <input type="date" class="form-control" id="dop" th:field="*{dateOfPublication}"/>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Pret</label>
                <input type="number" class="form-control" id="price" th:field="*{price}"/>
            </div>

            <button type="submit" class="btn btn-primary">Add Book</button>
        </form>


</div>



</body>
</html>